@import "../../styles.scss";

.card {
  margin: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px !important;
  @include bp(xs) {
    padding: 16px !important;
  }
}
.container {
  display: flex;
  align-items: center;
  @include bp(xs) {
    margin-top: 78px;
    flex-direction: column;
  }
  &.noBook {
    justify-content: center;
  }
}
.image {
  width: 250px;
  min-width: 250px;
  height: 300px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-right: 40px;
  object-fit: cover;
  object-position: center;
  @include bp(xs) {
    box-shadow: unset;
    margin-right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
}
.label {
  font-size: 18px;
  min-width: 140px;
  font-weight: bold;
  @include bp(xs) {
    font-size: 16px;
    min-width: 75px;
    width: 75px;
  }
}

.value {
  font-size: 18px;
  margin-left: 10px;
  font-weight: 300;
  line-height: 1;
  @include bp(xs) {
    font-size: 16px;
    width: calc(100% - 90px);
  }
}

.description {
  flex: 1;
  margin-top: 20px;
  h2 {
    margin-bottom: 10px;
  }
  ul {
    margin-left: 30px;
  }
  p,
  li {
    line-height: 24px;
  }
  @include bp(xs) {
    padding: 0px;
    ul {
      margin-left: 20px;
    }
  }
}
.backButton {
  border: 1px solid #8ec5fc !important;
  position: absolute;
  right: 30px;
  top: 30px;
}
